<p id="notice"><%= notice %></p>

<h1>Listing Issues</h1>

<table>
  <thead>
    <tr>
      <th>Uu</th>
      <th>Description</th>
      <th>Reporter email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @issues.each do |issue| %>
      <tr>
        <td><%= issue.uu_id %></td>
        <td><%= issue.description %></td>
        <td><%= issue.reporter_email %></td>
        <td><%= link_to 'Show', issue %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @issues %>