<p id="notice"><%= notice %></p>

<p>
  <strong>Uu:</strong>
  <%= @issue.uu_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @issue.description %>
</p>

<p>
  <strong>Reporter email:</strong>
  <%= @issue.reporter_email %>
</p>

<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>
