<p>
  <strong>Uu:</strong>
  <%= @issue.uu_id %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @issue.subject %>
</p>


<p>
  <strong>Description:</strong>
  <%= @issue.description %>
</p>

<p>
  <strong>Reporter name:</strong>
  <%= @issue.reporter_name %>
</p>

<p>
  <strong>Reporter email:</strong>
  <%= @issue.reporter_email %>
</p>

<%
  comments = @issue.comments.includes(:user)
%>
<%= render partial: 'comments/list', locals: {comments: @issue.comments.includes(:user)} unless comments.empty? %>

<%= link_to "Add Comment", new_comment_path(issue_id: @issue.id) %>

<%= link_to 'Back', issues_path %>
