<p>
  <strong>Uu:</strong>
  <%= @issue.uu_id %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @issue.subject %>
</p>


<p>
  <strong>Description:</strong>
  <%= @issue.description %>
</p>

<p>
  <strong>Reporter name:</strong>
  <%= @issue.reporter_name %>
</p>

<p>
  <strong>Reporter email:</strong>
  <%= @issue.reporter_email %>
</p>

<%= link_to 'Edit', edit_by_uu_id_client_issues_path(uu_id: @issue.uu_id) %>
